extends layout

block content
	section(class='section')
		div(class='container')
			div(class='chatbox')
				div(class='watson')
					div(class='message-container')
						article(class='message')
							div(class='message-body') Ceci est le message de Watson
				div(class='user')
					div(class='message-container')
						article(class='message')
							div(class='message-body') Ceci est le message de l'utilisateur
				div(class='user')
					div(class='message-container')
						article(class='message')
							div(class='message-body') Ceci est le message de l'utilisater
				div(class='watson')
					div(class='message-container')
						article(class='message')
							div(class='message-body') Ceci est le message de Watson
			form
				input(class='input', type='text', placeholder='Message')
				button(class='button is-link' type='submit') Submit