extends layout

block content
	section(class='section home')
		div(class='container chat')
			div(class='fred-container')
				figure
					img(src='assets/images/fred.jpg')
			div(class='chatbox-container')
				div(class='chatbox', id='chatbox')
					div(class='watson')
						div(class='message-container')
							article(class='message watson')
								div(class='message-body') Hello. How can I help you?
				form
					input(class='input', type='text', placeholder='Message' id='message')
					button(class='button is-link' type='submit' id="submit") Submit