extends layout

block content
	section(class='section')
		div(class='container')
			div(class='chatbox')
				div(class='watson')
					div(class='message-container')
						article(class='message')
							div(class='message-body') Hello. How can I help you?
			form
				input(class='input', type='text', placeholder='Message' id='message')
				button(class='button is-link' type='submit' id="submit") Submit