form{
	display: flex;
	margin-top: 10px;
}

.watson{
	display: flex;
	justify-content: flex-start;
}

.user{
	display: flex;
	justify-content: flex-end;
}

.message-container{
	width: 30%;
}

.message-body.watson{
	background-color: #427087;
	color: white;
}

.message-body{
	border-radius: 8px !important;
	border : 0 !important;
}
